<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
        <title>Ecoleta</title>
    {% endblock title %}

    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    {% block styles %} 
    {% endblock styles %} 
    <link rel="stylesheet" href="/styles/responsive.css"> <!--Resposive deve ficar por último-->

    <!--
        A tag <style></style> é utilizada para alterar os elementos do html
        É mais organizado utilizar um link à uma página css contendo os comandos de style
    -->

</head>
<body>

    {# <div id="page-home"> <!-- #page-home --> #}
    <div id="{{pageId}}">
        {% block content %}
        {% endblock content %}
    </div> 

    {% block modal %}   
    {% endblock modal %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>